.cartBtn {
  border: none;
  border-radius: 15px;
  background-color: none;
}

.cart-container {
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
}

.btn-cart {
  padding: 0 10px;
  font-size: 1.3rem;
  border: none;
  background-color: none;
}

.order-desc {
  background-color: white;
}

.btn-user {
  margin-right: 5px;
}

.margin {
  margin-left: 20px;
}

@media screen and (max-width: 992px) {
  .order-desc {
    width: 70%;
  }
}
