.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cart-div {
  height: 200px;
}

@media screen and (max-width: 992px) {
  .cart-div {
    position: sticky;
  }
}
